<section class="page-image page-image-contact md-padding">
	<h1 class="text-white text-center">Yazılarım</h1>
</section>


<section id="blog" class="md-padding">
	<div class="container">
		<div class="row">
			<main id="main" class="col-md-8">
				<div class="blog">
					<div class="blog-img">
						<img class="img-fluid" src="{{post.post_image}}" alt="">
					</div>
					<div class="blog-content">
						<ul class="blog-meta">
							<li><i class="fas fa-user"></i>Fatih Dinçer</li>
							<li><i class="fas fa-clock"></i>{{tarih post.date 'MMM DD YYYY'}}</li>
							<li><i class="fas fa-comments"></i>57</li>
						</ul>
						<h3>{{post.title}}</h3>
						<p>{{post.content}}</p>
					</div>




				</div>
			</main>


	



		</div>

	</div>
</section>